AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
SQL_CONNECTION_STRING=DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=MarketEdge;Trusted_Connection=yes;TrustServerCertificate=yes;
QUEUE_NAME=stage-analysis-jobs
QUEUE_POLL_INTERVAL=10
YFINANCE_BATCH_SIZE=50
YFINANCE_BATCH_DELAY=2.0
YFINANCE_MAX_RETRIES=3
